html {
    scroll-behavior: smooth;
}

.almenu li {
    list-style: none;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 3px;
    border-left: solid 2px #e0ac69;
}

.almenu li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #e0ac69;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.almenu li:hover::after {
    width: 100%
}

.almenu li a {
    text-decoration: none;
    color: #000;
}

div.tartalom a {
    text-decoration: none;
    font-weight: bold;
}

img {
    border: outset 4px #e0ac69;
}

p em {
    color: gray;
}

#menusor {
    background-color: #FBE7CB;
    border: solid 2px #e0ac69;
    border-radius: 20px;
    position: sticky;
    top: 5px;
}

#menusor ul li {
    max-width: 300px;
    margin-right: 15px;
}

.js {
    background-color: #000;
    color: #fff;
    display: inline-block;
}