header {
    text-align: center;
}

.container {
    text-align: center;
}

.icons {
    display: block;
    font-size: 1em;
    margin: 2em;
}

.icons i {
    margin: 1em;
}

.icon-blue {
    background-image: linear-gradient(45deg, #135f4e 0%, #69d3f7 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.icon-orange {
    background-image: radial-gradient(red 10%, yellow 80%, white);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}